@use "../global/variables" as global;
@use "../global/mixin" as *;

.contact__completion-header {
    background: url(/assets/img/contact-sp.png)no-repeat center center;
    background-size: 100% auto;

    @include mq(pc) {
        background: url(/assets/img/contact-pc.png)no-repeat center center;
        background-size: 100% auto;
    }

    @include mq(tab) {
        background: url(/assets/img/contact-pc.png)no-repeat center center;
    }
}

.contact__completion {
    margin-top: 54px;

    @include mq(pc) {
        max-width: 688px;
    }

    @include mq(tab) {
        max-width: 688px;
    }
}

.contact__completion-title {
    color: global.$main-color;
    font-family: global.$font-ja;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;

    @include mq(pc) {
        font-size: 28px;
        line-height: 40px; /* 142.857% */
    }

    @include mq(tab) {
        font-size: 28px;
        line-height: 40px; /* 142.857% */
    }
}

.contact__completion-description {
    color: global.$main-color;
    font-family: global.$font-ja;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin-top: 26px;

    @include mq(pc) {
        font-size: 16px;
        line-height: normal;
    }

    @include mq(tab) {
        font-size: 16px;
        line-height: normal;
    }
}